<div style="height:8.5cm; border-top: 1px dotted black;text-align:right; padding: 1cm 1cm 0 1cm;-moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);">
	<!--img src="file://{{path}}/../../header_cropped.png" style="max-width:30%;margin:-2cm 0 0 -2cm;float:left; z-index:-1;" /-->
	<span style="font-size: 3cm; font-weight: bold;">{{name}}</span> <br/>
	<span style="font-size: 2cm;">{{amt}}</span>
</div>
<div style="height:8.5cm; text-align:right; padding: 0 1cm 0 1cm;">
	<!--img src="file://{{path}}/../../header_cropped.png" style="max-width:30%;margin:-2cm 0 0 -2cm;float:left; z-index:-1;" /-->
	<span style="font-size: 3cm; font-weight: bold;">{{name}}</span> <br/>
	<span style="font-size: 2cm;">{{amt}}</span>
</div>